/* ================================================= */
@media (max-width: 1199.98px) {
	.banner-content {
		width: 80%;
	}
}
@media (max-width: 991.98px) {
	.banner-content {
		width: 90%;
	}
	.about-content {
		width: 100%;
	}
	.services-section p {
		width: 100%;
	}
	.contact-box {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.banner-section {
	padding: 100px 0;
	}
	.main-menu ul{
		display: none;
	}
	.bar-icon {
		display: block;
	}
	.banner-content h1 {
		font-size: 40px;
	}
	.footer-social-icons ul{
		text-align: center;
	}
	.copyright-sec {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	
}
@media (max-width: 575.98px) {
	.about-content h2, .services-section h2, .portfolio-head h2, .contact-box h2 {
		font-size: 30px;
	}
}
@media (max-width: 480px) {
	.banner-content h1 {
		font-size: 35px;
	}
	.contact-bottom label {
		font-size: 11px;
	}
}
@media (max-width: 380px) {
	.copyright-sec p {
    font-size: 14px;
	}
}
